body, html{
	height: 100%;
	width: 100%;
}



/* board positioning */

.character{
	width: 160px;
	height: 300px;
	position: relative;
	background-image: url(../images/backgrounds/cards.jpg);
	background-size: 100% 100%
}



/* character info positioning */
.name{
	font-weight: bold;
	margin-top: 15px;
	margin-left: 15px;
}

.character img{
	height: 130px;
	width: auto;
	margin: 2px 19px 0px 15px;
}

.characterStats{
	font-weight: bold;
}

.health{
	float: left;
	margin-left: 17px;
}

.attackcounter{
	text-align: right;
	margin-right: 17px;
}

.quote{
	margin: 0px 15px;
	font-size: 10px;
}


/* button status */
button{
	position: absolute;
	width: 94%;
	bottom: 0;
}

.visible{
	visibility: visible;
	display: block;
}

.invisible{
	visibility: hidden;
	display: none;
}

/*character defeated*/

.defeated{
	opacity: 0.3;
}

.container{
	height: 100%;
}



@media screen and (max-width: 640px), screen and (max-height: 915px){

	.character{
		width: 100px;
		height: 175px;
		position: relative;
		background-image: url(../images/backgrounds/card-tablet.jpg);
		background-size: 100% 100%
	}

	.character img{
		width: 75px;
		height: auto;
	}

	/* character info positioning */
	.name{
		font-weight: bold;
		font-size: 13px;
		margin-top: 11px;
		margin-left: 10px;
	}


	.health{
		float: left;
		margin-left: 10px;
		margin-top: 0px;

	}

	.attackcounter{
		text-align: right;
		margin-right: 10px;
		margin-top: 20px;
	}

	.quote{
		display: none;
		visibility: hidden;
	}
}

@media screen and (max-width: 320px), screen and (max-height: 550px) {

	.character{
		width: 100px;
		height: 75px;
		position: relative;
		background-image: url(../images/backgrounds/card-mobile.jpg);
		background-size: 100% 100%
	}

	.character img{
		display: none;
		visibility: hidden;
	}

	/* character info positioning */
	.name{
		font-weight: bold;
		font-size: 9px;
		margin-top: 13px;
		margin-left: 10px;
	}


	.health{
		float: left;
		margin-left: 10px;
		margin-top: 0px;

	}

	.attackcounter{
		text-align: right;
		margin-right: 10px;
		margin-top: 0px;
	}

	.quote{
		display: none;
		visibility: hidden;
	}
}


/* not poart of media query*/
/* put on bottom so as not to interfere with absolute position*/

.board{
	display: flex;
	align-items: center;
	justify-content: center;
}

.top{
	align-self: flex-start;
	margin-top: 20px;
}

.bottom{
	align-self: flex-end;
	position: absolute;
	margin-bottom: 20px;
}

.center{
	align-self: center;
	position: absolute;
}

